{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'todolist.css' %}" />

<h2 align="center">Hi, {{nama}}!</h2>
<br>
<p align="center"><a class="btn btn-primary px-4" href="{% url 'todolist:newtask' %}" role="button">Add Task</a></p>

<div class="container">
    <div class="row">
        {% for list in list_todolist %}
        <div class="col-lg-4">
            <br>
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">TO DO</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">{{forloop.counter}}</div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{list.title}}</span>
                                <span class="widget-49-meeting-item">{{list.deadline}}</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>{{list.description}}</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<p align="center"><a class="btn btn-danger px-4" href="{% url 'todolist:logout' %}" role="button">Logout</a></p>

{% endblock content %}